{
	"title":"Test Case v0.1",
	"fixtures":[
		{
			"command":"AT",
			"assert":"exact",
			"expect":"OK"
		},
		{
			"command":"AT+TIME={}",
			"params":["1474197975"],
			"assert":"contain",
			"expect":"OK"
		},
		{
			"command":"AT+TIME?",
			"assert":"contains",
			"expect":["+TIME","147419797"]
		},
		{
			"command":"AT+VRSI",
			"assert":"contains",
			"expect":["1.0.3","Arwana"]
		}
	]
}
